.outlet{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.Detail-product .Detail-product-container {
    display: flex;
    height: auto;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-top: 30px;
    width: 74vw;
}

.Detail-product .Detail-product-container .Detail-imgarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
}

.Detail-product .Detail-product-container .Detail-imgarea img {
    display: block;
    width: 80%;
}

.Detail-product .Detail-product-container .Detail-menu {
    align-content: flex-start;
    border-left: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding-left: 40px;
    padding-top: 50px;
    width: 35%;
}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed {
    color: #404040;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 100%;
}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-info {
    position: relative;
}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-title {
    border-top: 2px solid #eee;
    margin-top: 20px;
    padding-top: 40px;
}


.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-total .Detail-countWrap {
    color: #404040;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;

}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-total .Detail-countWrap .Detail-count {
    align-items: center;
    display: flex;
    gap: 10px;
}




.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-total .Detail-totalprice {
    color: #404040;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
    padding-top: 15px;

}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-button {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 30px;
}

.Detail-product .Detail-product-container .Detail-menu .Detail-fixed .Detail-button {
    width: 100%;

}

.btn_button1{
    background-color: #fff;
    border: 1px solid #5f0080;
    color: #5f0080;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 44px;
    overflow: hidden;
    padding: 0 1rem;
    text-align: center;
}

.btn_button2 {
    background-color: #5f0080;
    border: 0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 44px;
    overflow: hidden;
    padding: 0 1rem;
    text-align: center;
}



















